
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
*{
 margin: 0;
 padding: 0;
 font-family: 'Roboto'; 
 box-sizing: border-box;
 
}

:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --title-color: #111;
    --text-color: #111;
    --text-color-light:#fff ;
    --white-color: #fff;
    --body-color: #f5f5f567;
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --normal-font-size: 14px;
    --small-font-size: 12px;
    --smaller-font-size: 10px;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --h1-font-size: 34px;
      --h2-font-size: 24px;
      --h3-font-size: 14px;
      --normal-font-size: 16px;
      --small-font-size: 12px;
      --smaller-font-size: 10px;
    }
  }
  
  html {
    /* scroll-behavior: smooth; */
  }
  body {
    /* overflow:scroll; */

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color)!important;
    color: var(--text-color);
  }
  h3 {
    font-size: var(--h3-font-size)!important;
  }
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }

/* <!-- Header --> */


.header-menu{
  display: none;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: var(--white-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    z-index: 1;
}

.h-mobile-menu{
  /* display: none; */
  overflow: hidden;
  height: 0px;
  background: rgb(247, 247, 247);
  transition: 1s;
}
.h-mobile-menu.active
{
  /* display: block; */
  height: 370px;
}
.mtopics{
  margin: 15px;
  padding: 15px;
  text-align: center;
  /* border-bottom: #000000; */
}
.header .logo{
    margin-left: 110px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.header .logo img{
    width: 116px;
    height: 69px;
}
.right-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .topic-container{
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.header .topic-container .topics{
   
    margin-left: 13px;
    margin-right: 13px;
    cursor: pointer;
    transition: 2s;
}
.topics-underline{
    position: absolute;
    /* width: 40px; */
    width: 0px;
    height: 3px;
    background: transparent;
    transition: 1s;
    
}
.topics-underline.active{ 
  background: #FFC700;
  width: 40px;
}

.topics.active h3{color: #FFC700;}
/* .topics-underline.active{ background: #FFC700;width: 40px;
    animation: showTopicsLine 0.5s;
}
@keyframes showTopicsLine {
    0% {
      transform:translateX(0px) ;
    }
  
    100%{
      transform:translateX(0px) ;
    }  
} */
#cm1u{}
#cm2u{}
#cm3u.active{
    width: 65px;
}
#cm4u.active{
    width: 65px;
}
#cm5u.active{width: 50px;}
#cm6u.active{
    width: 30px;
}
.contact-us-icon{
width: 100px;
height: 100px;
background: #FFEB3D; 
display: flex;
justify-content: center;
align-items: center;
position: relative;
cursor: pointer;
}
.contact-us-icon ion-icon{
    color: black;
    height: 44px;
    width: 54px;
}
.header-menu-container{
  display: flex;
justify-content: center;
align-items: center;
position: relative;
cursor: pointer;
}

.header-menu{
  width: 100px;
  height: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header-menu ion-icon{
  color: black;
  height: 44px;
  width: 54px;
}
@media (max-width: 900px) {
  .right-bar{
    display: none;
  }
  .header-menu{
    display: flex;
  }
}

@media (max-width: 300px) {
  .header .logo{
   display: none;
}
}
/* <!-- Header --> */
/* <!-- Main --> */
main{
  /* overflow: hidden; */
  position: relative;
  margin-top: 100px;
}
.preview{
    position: relative;
    height: 1000px;
}
.preview .preview-background{
    position: absolute;
    width: 100%;
    height: 100%;
}
.color-block{
    position: absolute;
    right: 0;
    background: #FFD74B ;
    /* background-image: url(../res/untitled11.png);
    background-position: 40% ;
    background-repeat: no-repeat;  */
    height: 100%;
    width: 40%;
}
.preview .preview-background img{
  position: absolute;
  background: rgba(255, 255, 255, 0.048);
    width: 2000px;
    /* z-index: 1; */
    height: 900px;
}
.preview-info-block{
  position: absolute;
  background: rgba(255, 255, 255, 0.808);
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  min-width: 704px;
  min-height: 466px;
  top: 25%;
  left: 17%;
  padding: 20px;
}

.preview-info-block span{
  color: #5F5F5F;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  
}
.preview-info-block h1{
  color: #111;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  padding: 20px;
  padding-left: 0px;
}
.preview-info-block h2{
  color: #FFC700;
  text-transform: uppercase;
  padding: 20px;
  padding-left: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
}

.call-request {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.call-request{
  margin-top: 15px;
  display: block;
  /* width: 350px; */
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: #FFC700;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.call-request:hover{
  background: #e49012;
}
.call-request:focus {
	outline: none;
}



@media (max-width: 1200px) {
  .preview-info-block{
    padding: 0;
    min-width: 300px;
    min-height: 466px;
    left: 0;
  }
  .preview-info-block h1{
 
    padding: 0px;
  }
}


/* .preview-info-block span{} */

/* услуги */
.services{
  min-height: 600px;
  /* width: 10000px; */
  /* background: #a1a; */
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.title h1{
  text-transform: uppercase;
  margin-top: 25px;
  position: relative;
  display: flexbox;
  font-size: 40px;
  font-weight: 500;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  border: 4px solid #FFD74B;
}
.title h1.transparent-border{
  border: 4px solid transparent;
  margin-bottom: 60px;
}
.title .title-underline{
position: absolute;
  height: 4px;
  width: 75%;
  background: #111;
  left: 12.5%;
  bottom: -4px;
}

.service-cards-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-card{
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 270px;
  height: 370px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  overflow: hidden;
transition: 1s;
}
.service-card.active{
  background: #ffc80077;
}
.card-logo{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #EFEFEF;
  margin-bottom: 24px;
  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: 1s;
}
#cl1{background-image: url(../res/0_1-icon.png);}
#cl2{background-image: url(../res/0_2-icon.png);}
#cl3{background-image: url(../res/0_3-icon.png);}
#cl4{background-image: url(../res/0_4-icon.png);}
.card-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  transition: 1s;
}
.card-text{
  position: absolute;
  top: 40px;
  left: 10%;

  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  width: 80%;
  text-align: justify;

  opacity: 0;
  scale: 0.5;
  transition: 1s;
}
.card-text.active{
  opacity: 1;
  scale: 1;
  transition: 1s;
}
.card-title.active{
  font-size: 14px;
  line-height: 16px;
}
.card-logo.active{
  transform: translateY(200px);
  opacity: .7;
}

@media (max-width: 1200px) {
  .card-title{
    font-size: 20px;
    line-height: 22px;
  }
}
/* услуги */
/* направления работы */
.work-areas-container{
  
  background: #212121;
  width: 100%;
  /* height: 2860px; */
  display: flex;
  flex-direction:column ;
  overflow: hidden;
}

.title h1.t-white{
  margin-top: 80px;
  color: #fff;
}
.title .title-underline.t-white{
  background: #fff;
}
.title h1.t-ywb{
  margin-top: 80px;
  margin-bottom: 50px;
  border: 4px solid #fff;
  color: #111;
}
.title .title-underline.t-ywb{
  background: #111;
  }
.wa-info{
  position: relative;
  margin-top: 100px;
  width: 1300px;
  height: 550px;
  margin-bottom: 50px;
}
.wa-info:nth-child(odd){
  transform: scale(-1, 1);
  margin-left: calc(100% - 1300px);
}
.wa-odd-c{
  transform: scale(-1, 1);
}
.wa-odd-n{
  transform: scale(-1, 1);
}

.wa-parallelogram{
  
  position: absolute;
  width: 100%;
  height: 100%;
  background: #424242;
  transform: skew(-20deg) translateX(-100px);
}
.wa-inside{
    position: absolute;
    height: 100%;
    width: 80%;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
}

.wa-number{
  position: absolute;
  color: #fff;
  right: -175px;
  top: 0px;
  font-weight: 500;
  font-size:128px;
}
.wa-logo{
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 649px;
  min-height: 447px;
  filter: grayscale(100%); 
  transition: 1s;
}

#wal1{background-image: url(../res/1_1-image.png);}
#wal2{background-image: url(../res/1_2-image.png);}
#wal3{background-image: url(../res/1_3-image.png);}
#wal4{background-image: url(../res/1_4-image.png);}
.wa-logo.active{
  filter: grayscale(0%); 
}

.wa-ins-content{
width: 350px;
margin-left: 30px;
}
.wa-title{
  color: #FFC700;
  margin-top: -100px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 40px;
}
.wa-text{
color: #fff;  
font-weight: 500;
font-size: 24px;
}

.wa-underline{
  position: absolute;
  right: 100px;
  bottom: 0px;
  width: 9px;
  height: 400px;

  background:#FFC700;
  transform: rotate(0deg) skew(-20deg);
  transition: 1s;
}
.wa-underline.active{
  height: 100%;
  transform: skew(0deg) translateX(-2000px)
}



@media (max-width: 1200px) {
  .wa-info{
    scale: .7;
  }
  .wa-inside{
    transform: translateX(-400px);
  }
  .wa-parallelogram{
    transform: skew(-20deg) translateX(-400px);
  }
  .wa-underline{
    right: 400px;
    bottom: 0px;
  }
  .wa-underline{
    display: none;
  }
  
}
@media (max-width: 900px) {
  .wa-info{
    scale: 1;
    background: #424242;;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: auto;
    min-height: 550px;
    margin-bottom: 50px;
  }

  .wa-inside{
    transform: translateX(0px);
    position: relative;
    justify-content: center;
    width: 100%;
  }
  .wa-title{
    margin-top: 50px;
  }
 .wa-text{
  margin-bottom: 50px;
  text-align:justify ;
  width: 100%;
 }


 .wa-info:nth-child(odd){
  transform: scale(1, 1);
  margin-left: 0;
}
.wa-odd-c{
  transform: scale(1, 1);
}
.wa-odd-n{
  transform: scale(1, 1);
}

.wa-logo{

  min-width: 320px;
  min-height: 240px;
  margin-top: -40px;
}


  .wa-number{display: none}
  .wa-parallelogram{display: none;}
}

/* направления работы */

/* Заявка */
.leave-request-container{
  position: relative;
  min-height: 830px;
  width: 100%;
  background: #F0F0F0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.request-container{
  position: absolute;
  top: 260px;
  /* left: 35%; */
  left: calc(50% - (774px / 2));
  min-width: 774px;
  min-height: 547px;
  background: #FFFFFF;
  border: 9px solid #FFC700;
  box-shadow: 30px 30px 0 0 rgba(18, 18, 18, 0.26);;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-req{
  
font-weight: 400;
font-size: 24px;
line-height: 28px;
}
.req-input{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 412px;
  height: 52px;
  
  background: #F9F9F9;
  border: 1px solid #8D8D8D;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
}

.req-input::placeholder {
  text-align: center;
}
.circle{
  position: absolute;
  height: 600px;
  width:  600px;
  border-radius: 50%;
  background: #B5B5B5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cir1{
  top: 300px;
  
  left: 140px;
}
#cir2{
  bottom: 300px;
  right: 140px;
}



@media (max-width: 800px) {
  .circle{display: none;}
  .leave-request-container{min-height: 830px;}
  .request-container{
    box-shadow: 0 0 0 0 ;
    position: relative;
    min-width: 100%;
    margin: auto;
    left: 0;
  }
  input{
    max-width: 100%;
  }
}
/* Заявка */

/* Преимущества */
.our-avanteges-container{
  background: #FFE500;
  width: 100%;
  min-height: 500px;
  margin-bottom: 40px;

}
.avantages-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.avantage{
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.avantage .av-logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avantage .av-logo img{
  width: 120px;
  height: 120px;
}
.avantage .av-text{
  font-weight: 500;
font-size: 24px;
line-height: 28px;
}
/* Преимущества */
/* ОБОРУДОВАНИЕ */
.equipment-container{
  position: relative;
  width: 100%;
  height: 620px;

}
.equipment-items-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.eqc-carusel-item{
  width: 257px;
  height: 300px;
  width: 257px;
  height: 300px;

  background: #E3E3E3;
  border-radius: 16px;
  margin-left: 26px;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 .carusel-arrwos{
  width: 55px;
  height: 55px;
  background: rgba(43, 43, 43, 0.7);
  border-radius: 50%;
  cursor: pointer;
 }


.eqc-left-arrow{
  /* position: absolute; */

}
.eqc-right-arrow{
  margin-left: 26px;
  /* position: absolute; */
}
.eqc-title{
  font-weight: 400;
font-size: 20px;
line-height: 23px;
}
/* ОБОРУДОВАНИЕ */


/* <!-- Main --> */

/* <!-- Footer --> */
footer
{
  overflow: hidden;
}
.upper-footer{
  background: #383838;
  min-height: 539px;
  width: 100%;
  display: flex;
}

.uf-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.uf-contacts{
  color: #fff;
}
.uf-contacts p{
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.contopics{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.con-logo{
  display: inline-block;
  width: 45px;
  height: 45px;
}
.uf-title{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.uf-container .map{
  max-width: 502px;
  max-height: 379px;
  width: 100%;
  height: 100%;

}
@media (max-width: 900px) {
  .uf-container{
    height: 850px;
    justify-content: center;
  }
}

.lower-footer{
  height: 41px;
  background: #1E1E1E;
  position: relative;
  color: #8E8E8E;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.lower-footer span{
  padding-top: 7px;
  position: absolute;
  left: 147px;
}
/* <!-1- Footer --> */


/* сладйер */

/* сладйер */
